<div class="container">
  <h3 class="mt-4 ml-3">RxJS POC - Unsubscribe</h3>
  <div class="row mt-4 ml-3">
    <form class="form-inline">
      <div class="form-group mr-sm-2">
        <input type="text" class="form-control" #valor placeholder="Valor">
      </div>
      <div class="form-group mx-sm-2">
        <button type="button" class="btn btn-outline-primary" (click)="handleEmitiValeu(valor.value)">Buscar Dados</button>
      </div>
      <div class="form-group mx-sm-2">
        <button type="button" class="btn btn-outline-danger" (click)="destruirComponentes()">Mostrar / Destruir Componentes</button>
      </div>
    </form>
  </div>
  <div class="row mt-4" *ngIf="mostrarComponentes" >
    <app-sem-unsubscribe class="col-md-4"></app-sem-unsubscribe>
     <app-take class="col-md-4"></app-take>
     <app-unsub class="col-md-4"></app-unsub>
     <app-async class="col-md-4" ></app-async>
  </div>

